body{
    background-color: #c5c5b2;
}
.image{
    background:#c5c5b2 ;
    
}
#menu{
    background: #c5c5b2;
    border: whitesmoke 2px;
    padding: 16px;
    width: 200px;
}
a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}
h4{
    text-align: center;
}
h2{
    text-align: center;
    color: black;
}